<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste d'images responsive</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
  <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.2/dist/lazyload.min.js"></script>

  <style>
    .image-wrapper {
      position: relative;
      width: 280px;
      height: 280px;
      overflow: hidden;
    }

    .image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    .image-wrapper:hover img {
      transform: scale(1.1);
    }

    .juxtapose {
      max-width: 100%;
    }

    .jx-slider {
      margin-top: 1em;
    }

    .spinner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 6rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: 100%;
      margin-top: 25%;
    }

    .spinner:before,
    .spinner:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      animation: pulseOut 1.8s ease-in-out infinite;
      filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.75));
    }

    .spinner:before {
      width: 100%;
      padding-bottom: 100%;
      box-shadow: inset 0 0 0 1rem #000000;
      animation-name: pulseIn;
    }

    .spinner:after {
      width: calc(100% - 2rem);
      padding-bottom: calc(100% - 2rem);
      box-shadow: 0 0 0 0 #000000;
    }

    @keyframes pulseIn {
      0% {
        box-shadow: inset 0 0 0 1rem #000000;
        opacity: 1;
      }

      50%,
      100% {
        box-shadow: inset 0 0 0 0 #000000;
        opacity: 0;
      }
    }

    @keyframes pulseOut {

      0%,
      50% {
        box-shadow: 0 0 0 0 #000000;
        opacity: 0;
      }

      100% {
        box-shadow: 0 0 0 1rem #000000;
        opacity: 1;
      }
    }

    .legend-color {
      width: 100px;
      height: 100px;
      border: 1px solid #ccc;
    }
  </style>
</head>

<body class="bg-gray-100">
  <div class="flex flex-col md:flex-row">
    <div class="h-screen overflow-y-auto w-full md:w-1/4 lg:w-1/5 bg-white p-4">
      {% for image in images %}
      <div class="image-wrapper mb-4">
        <img class="lazy" data-src="/image/{{ image }}_leftImg8bit.png" filename="{{ image }}"
          onclick="updateJuxtaposeSlider(this)">
      </div>
      {% endfor %}
    </div>
    <div class="flex-1 p-4 h-full">
      <div class="text-center h-full">
        <div class="h-full flex items-center justify-center">
          <div id="juxtapose-container">
            <span style="font-size: 35px;">&lt;--- Vous devez cliquer sur image dans la liste de gauche</span>
          </div>
          <span id="spinner" class="spinner hidden"></span>
        </div>
      </div>
      <div class="flex-1 p-4 h-full" id="prediction-time-container">

      </div>
      <div class="flex-1 p-4 h-full">
        <h1>Légende :</h1>
        <div class="grid grid-cols-4 gap-4" id="legend-container"></div>
      </div>
    </div>
  </div>

  <script>
    // Options par défaut pour le slider Juxtapose
    let defaultSliderOptions = {
      "makeResponsive": true,
      "showLabels": true,     // Affiche les étiquettes sur les images
      "mode": "horizontal",   // Orientation du slider
      "showCredits": true,    // Affiche les crédits
      "animate": true,        // Anime le slider lors du changement d'images
      "startingPosition": "50" // Position de départ du curseur du slider
    };

    // Mapping des catégories avec leurs noms et couleurs associées
    let categoryColors = {
      "7": { name: "Vide", colors: [0, 0, 0] },
      "0": { name: "Plat", colors: [0, 255, 0] },
      "3": { name: "Construction", colors: [255, 0, 255] },
      "4": { name: "Objet", colors: [255, 255, 0] },
      "5": { name: "Nature", colors: [0, 255, 255] },
      "6": { name: "Ciel", colors: [0, 0, 255] },
      "1": { name: "Humain", colors: [255, 0, 0] },
      "2": { name: "Véhicule", colors: [128, 0, 128] }
    };
    const legendContainer = document.getElementById('legend-container'); // Récupère le conteneur pour la légende

    // Génère les éléments de légende pour chaque catégorie
    Object.values(categoryColors).forEach(category => {
      const legendItem = document.createElement('div'); // Crée un nouvel élément pour la légende
      legendItem.classList.add('legend-color', 'flex', 'flex-col', 'items-center', 'justify-center', 'text-center', 'p-4');

      const categoryName = document.createElement('span'); // Crée un élément span pour le nom de la catégorie
      categoryName.textContent = category.name;

      const rgbColor = `rgb(${category.colors.join(',')})`;
      legendItem.style.backgroundColor = rgbColor;

      // Calcule la luminosité de la couleur pour choisir une couleur de texte contrastée
      const brightness = Math.round(((parseInt(category.colors[0]) * 299) +
        (parseInt(category.colors[1]) * 587) +
        (parseInt(category.colors[2]) * 114)) / 1000);
      const textColor = brightness > 125 ? '#000' : '#fff';
      categoryName.style.color = textColor;

      legendItem.appendChild(categoryName);
      legendContainer.appendChild(legendItem);
    });

    const juxtaposeContainerSelector = "#juxtapose-container"; // Sélecteur CSS pour le conteneur Juxtapose
    let sliderInstance; // Référence à l'instance du slider Juxtapose

    /**
     * Met à jour le slider Juxtapose avec l'image sélectionnée.
     * @param {HTMLElement} imageElement - L'élément image sélectionné.
     */
    function updateJuxtaposeSlider(imageElement) {
      const juxtaposeContainer = document.getElementById(juxtaposeContainerSelector.substring(1)); // Récupère le conteneur Juxtapose
      juxtaposeContainer.innerHTML = ''; // Vide le conteneur
      juxtaposeContainer.classList.add('hidden'); // Masque le conteneur
      document.getElementById("spinner").classList.remove('hidden'); // Affiche le spinner de chargement

      const predictionTimeContainer = document.getElementById('prediction-time-container'); // Récupère le conteneur pour le temps de prédiction
      predictionTimeContainer.innerHTML = ''; // Vide le conteneur

      const filename = imageElement.getAttribute("filename"); // Récupère le nom de fichier de l'image sélectionnée

      const categoryColorsSimple = {};
      for (const [key, value] of Object.entries(categoryColors)) {
        categoryColorsSimple[key] = value["colors"];
      }
      const requestData = { // Prépare les données de la requête
        image_name: filename,
        class_colors: categoryColorsSimple
      };

      const jsonData = JSON.stringify(requestData);

      const predictUrl = '{{ predict_url }}' || 'http://127.0.0.1:8000/predict/';
      const xhr = new XMLHttpRequest();
      xhr.open('POST', predictUrl, true);
      xhr.setRequestHeader('Content-Type', 'application/json');

      // Définit la fonction de rappel pour le traitement de la réponse
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) { // Vérifie si la requête est terminée
          if (xhr.status === 200) { // Vérifie si le statut de la réponse est OK
            const responseData = JSON.parse(xhr.responseText); // Parse la réponse JSON
            displayPredictionResult(responseData, juxtaposeContainer, predictionTimeContainer);
          } else {
            console.error('Erreur lors de la requête:', xhr.status); // Affiche une erreur en cas de problème
          }
        }
      };

      xhr.send(jsonData); // Envoie la requête avec les données
    };

    /**
     * Affiche les résultats de la prédiction dans le slider Juxtapose.
     * @param {Object} responseData - Les données de réponse du service de prédiction.
     * @param {HTMLElement} juxtaposeContainer - Le conteneur pour le slider Juxtapose.
     * @param {HTMLElement} predictionTimeContainer - Le conteneur pour afficher le temps de prédiction.
     */
    function displayPredictionResult(responseData, juxtaposeContainer, predictionTimeContainer) {
      // Extrait les données de réponse
      const originalImageEncoded = responseData.original_image; // Image originale encodée en base64
      const predictedImageEncoded = responseData.predict_image; // Image prédite encodée en base64
      const predictionTime = responseData.prediction_time; // Temps pris pour la prédiction

      predictionTimeContainer.innerText = `Temps de prédiction : ${predictionTime} secondes`; // Affiche le temps de prédiction

      // Prépare les images pour le slider
      const originalImage = {
        label: "Image originale",
        src: "data:image/jpeg;base64," + originalImageEncoded,
        credit: "City Scapes"
      };
      const predictedImage = {
        label: "Image prédite",
        src: "data:image/jpeg;base64," + predictedImageEncoded,
        credit: "Prédiction du modèle"
      };

      let images = [originalImage, predictedImage]; // Tableau des images pour le slider
      // Fusionne les options par défaut du slider avec les options supplémentaires
      let options = Object.assign({}, defaultSliderOptions, {
        callback: function (obj) { // Fonction de rappel pour la fin de l'initialisation du slider
          document.getElementById(juxtaposeContainerSelector.substring(1)).replaceWith(obj.wrapper); // Remplace le conteneur par le slider
        }
      });

      document.getElementById("spinner").classList.add('hidden'); // Masque le spinner
      juxtaposeContainer.classList.remove('hidden'); // Affiche le conteneur du slider
      sliderInstance = new juxtapose.JXSlider(juxtaposeContainerSelector, images, options); // Initialise le slider
    }
  </script>
  <script>
    new LazyLoad(); // Initialise LazyLoad pour le chargement paresseux des images
  </script>
</body>
</html>